body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-size: cover;

    margin: 0;
    padding: 0;
    color: #000;
    font-size: 13px;
    height: 100%;
}

.header {
    background-image: url("#{resource['images/img_header/zeda.png']}");
    background-size: cover;
    width: 100%;
    height: 100px;
    position: relative;
}

#table {
    width: 100%;
    height: 100px;
    border: 0;
    cellspacing: 0;
    cellpadding: 4;
}

#logo {
    background-size: 100px, 60px;
    padding-left: 15px;
    width: 100px;
    text-align: center;
    margin: 0px;
}

tr > td {
    width: 188px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

#mail {
    padding-right: 15px;
    width: 120px;
    height: 100px;
    text-align: center;
    margin: 0px;
}

#facebook {
    padding-right: 5px;
    width: 30px;
    height: 30px;
    text-align: end;
}

.container {
    overflow: auto;
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}

.box {
    white-space: nowrap;
}

.box div {
    display: inline-block;
}

.footer {
    padding: 0;
    background: #0000ee;
    text-align: right;
}

.left_menu {
    width: 200px;
    height: 1000px;
    background-image: url("#{resource['images/img_header/gverdi.png']}");
    background-size: cover;
    position: relative;
    float: left;
}

.content {
    background-image: url("#{resource['images/tkan-kapitonij.jpg']}");
    width: 949px;
    height: 1000px;
    background-size: cover;
    position: inherit;
    float: none;
    display: inline-block;
}

.right_menu {
    width: 200px;
    height: 1000px;
    background-image: url("#{resource['images/img_header/gverdi.png']}");
    background-size: cover;
    position: relative;
    float: right;
}

/*///////////////////////////////////////////////////////////*/

.slaid_div {
    margin-top: 15px;
    padding: 0;
    text-align: center;
    border: 0;
}

.solid_div table {
    width: 160px;
    margin: 0;
    padding: 0;
    border: 0;
}

solid_div table tr {
    width: 160px;
    margin: 0;
    padding: 0;
    border: 0;
}

solid_div table tr td {
    width: 160px;
    margin: 0;
    padding: 0;
    border: 0;
}
